# Compose
COMPOSE_PROJECT_NAME=miniloja
COMPOSE_REMOVE_ORPHANS=true
COMPOSE_FILE=docker-compose.dev.yml

# Database
POSTGRES_DB=miniloja
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Cache
REDIS_PORT=6379

# Backend
BACK_NODE_ENV=development
BACK_INTERNAL_PORT=3000
BACK_PORT=3001
DATABASE_URL=postgresql://postgres:postgres@db:5432/miniloja?schema=public
REDIS_URL=redis://cache:6379
LOG_LEVEL=log
LOG_ENABLED_LEVELS=log,error,warn,debug,verbose
LOG_CONSOLE_ENABLED=true
LOG_FILE_ENABLED=true
LOG_FILE_PATH=logs/application.log
LOG_TIMESTAMP_ENABLED=true
LOG_JSON_ENABLED=false

# Frontend
FRONT_NODE_ENV=development
FRONT_INTERNAL_PORT=3000
FRONT_PORT=3000

# Reverse proxy
NGINX_PORT=8080
